<div class="firstContainer">
  <h3 class="title">E-Commerce Chat</h3>
  <div class="chatBox">
    <div class="boxMessage">
      <p id="messages"></p>
    </div>
    <div class="boxManage">
      <input type="text" id="text-to-send" />
      <button id="send-message" class="btn btn-outline-info">Enviar</button>
    </div>
  </div>
</div>