<div>
  <h1 id="titleForm">LOGIN</h1>
  <img src="/img/1693103733901Hadita.png" alt="logo" />
  <form action="/static/signin" method="post" id="containerForm">

    <input
      type="email"
      id="email"
      name="email"
      placeholder="Correo Electrónico"
      class="inputForm"
      required
    />

    <input
      type="password"
      id="password"
      name="password"
      placeholder="Contraseña"
      class="inputForm"
      required
    />

    <input type="submit" value="Iniciar sesión" id="btnForm" />
  </form>
</div>