<div>
  <form action="/static/products/new-product" method="post" id="idForm">
    <input type="text" name="title" class="inputFormu" placeholder="Title" />
    <input
      type="text"
      name="description"
      class="inputFormu"
      placeholder="Description"
    />
    <input type="text" name="stock" class="inputFormu" placeholder="Stock" />
    <input type="text" name="code" class="inputFormu" placeholder="Code" />
    <input type="text" name="price" class="inputFormu" placeholder="Price" />
    <input
      type="text"
      name="category"
      class="inputFormu"
      placeholder="Category"
    />

    <button id="btnFormu">Crear producto</button>

  </form>
</div>