<h1>Crear Nuevo Taller</h1>
<div id="containerForm">
  <form id="idForm">
    <input type="text" required name="title" placeholder="Titulo" />
    <input type="text" required name="description" placeholder="Descripción" />
    <input type="text" required name="category" placeholder="Categoria" />
    <input type="number" required name="price" placeholder="Precio" />
    <input type="number" required name="stock" placeholder="Stock" />
    <input type="text" required name="code" placeholder="Codigo" />
    <button type="submit" id="btnForm">Enviar</button>
  </form>
</div>
<br />
<button id="botonProductos">Mostrar Productos</button>

<div id="containerProducts">

</div>