<div>
  <h1 id="titleForm">Formulario de Registro</h1>
  <form action="/static/register/new-user" method="post" id="containerForm">
    <input
      type="text"
      id="first_name"
      name="first_name"
      placeholder="Nombre"
      class="inputForm"
      required
    />

    <input
      type="text"
      id="last_name"
      name="last_name"
      placeholder="Apellido"
      class="inputForm"
      required
    />
    <input
      type="number"
      id="age"
      name="age"
      placeholder="Edad"
      class="inputForm"
      required
    />

    <input
      type="email"
      id="email"
      name="email"
      placeholder="Correo Electrónico"
      class="inputForm"
      required
    />

    <input
      type="password"
      id="password"
      name="password"
      placeholder="Contraseña"
      class="inputForm"
      required
    />

    <input type="submit" value="ENVIAR" id="btnForm" />
  </form>
</div>