<div>
  <h1 id="titleForm">Formulario de Registro</h1>
  <form action="/static/signup" method="post" id="containerForm">
    <input
      type="text"
      id="first_name"
      name="first_name"
      placeholder="Nombre"
      value="{{first_name}}"
      class="inputForm"
      required
    />

    <input
      type="text"
      id="last_name"
      name="last_name"
      placeholder="Apellido"
      value="{{last_name}}"
      class="inputForm"
      required
    />
    <input
      type="number"
      id="age"
      name="age"
      placeholder="Edad"
      value="{{age}}"
      class="inputForm"
      required
    />

    <input
      type="email"
      id="email"
      name="email"
      placeholder="Correo Electrónico"
      value="{{email}}"
      class="inputForm"
      required
    />

    <input
      type="password"
      id="password"
      name="password"
      placeholder="Contraseña"
      class="inputForm"
      required
    />

    <input
      type="password"
      id="confirm_password"
      name="confirm_password"
      placeholder="Confirmar Contraseña"
      class="inputForm"
      required
    />

    <input type="submit" value="Registrarme" id="btnForm" />
  </form>
</div>