/* Header */
.navPositions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bgHeader {
  background-color: #fb7e00;
}
/* Fin Header */

/*
Colores globales: 
#fb7e00
#ffca23
#fffdd1
#fff041
#fba51b
#000000
*/
