/* FORMULARIO */
#containerForm {
  text-align: center;
}

#idForm {
  background-color: #62d9cd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  color: #575757;
}

#idForm input {
  width: 48%;
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0.5rem;
  border: none;
}

#idForm #btnForm {
  background-color: #62d9cd70;
  color: #575757;
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0.5rem;
  border: none;
  width: 50%;
}

#idForm #btnForm:hover {
  background-color: #575757;
  color: #62d9cd;
}
/* FIN FORMULARIO */
