<nav class="navbar navbar-expand-lg bgHeader">
  <div class="container">
    <a class="navbar-brand" href="/static/">Gadiel</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navPositions" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/static/"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static/products/add">Add Product</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/static/register"
          >Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/static/login">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>